@using Lec11.Models;
@model BookModel


<div class="container">

    <div class="row">
        <div class="col-md-6">

            <div id="carouselExampleIndicators" class="carousel slide">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="~/img/book/book1.jfif" class="d-block w-100" alt="BookImg1">
                    </div>
                    <div class="carousel-item">
                        <img src="~/img/book/book2.jfif" class="d-block w-100" alt="BookImg2">
                    </div>
                    <div class="carousel-item">
                        <img src="~/img/book/Book3.jpeg" class="d-block w-100" alt="BookImg3">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-info">@Model.Title</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-primary">
                    <span class="label lable-primary">By: </span>
                    <span class="text-monospace font-monospace">@Model.Author</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="description">
                        @Model.Description
                    </p>
                </div>
            </div>
            <div class="row">
                <div clss="col-md-4">
                    <button class="btn btn-primary btn-outline-success">Read Now</button>
                </div>
            </div>
            <hr />
            <ul class="list-group">
                <li class="list-group-item"><span class="font-weight-bold">Ctegory - </span>@Model.Category</li>
                <li class="list-group-item"><span class="font-weight-bold">Pages - </span>@Model.Pages</li>
                <li class="list-group-item"><span class="font-weight-bold">Lanuage - </span>@Model.Language</li>
            </ul>

        </div>


    </div>
    <div class="p-5 mt-2 bg-light">
        <h3 class="text-info">Similar Books</h3>
        <div class="row">

            @for (int i = 0; i < 3; i++)
            {
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"></svg>
                        <div class="card-body">
                            <p class="card-text">@Model.Title</p>
                            <p class="card-text">@Model.Description</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <a href="/book/GetBook/@Model.Id" class="btn btn-primary btn-outline-warning">View Details</a>
                                <small class="text-muted">Author: @Model.Author</small>
                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>


</div>


