@model BookModel


<div class="container">

    <div class="row">

        <div class="col-md-6">

            <div id="carouselExampleIndicators" class="carousel slide">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    @for (int i = 0; i < Model.Gallary.Count(); i++)
                    {
                        <div class="@(i==0? "carousel-item active" : "carousel-item")">
                            <img src="@Model.Gallary[i].Url" asp-append-version="true" class="d-block w-100" alt="BookImg1">
                        </div>

                    }

                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        
        </div>

        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-info">@Model.Title</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-primary">
                    <span class="label lable-primary">By: </span>
                    <span class="text-monospace font-monospace">@Model.Author</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="description">
                        @Model.Description
                    </p>
                </div>
            </div>
            <div class="row">
                <div clss="col-md-4">
                    <a href="@Model.BookPdfUrl" target="_blank" class="btn btn-primary btn-outline-success">Read Now</a>
                </div>
            </div>
            <hr />
            <ul class="list-group">
                <li class="list-group-item"><span class="font-weight-bold">Ctegory - </span>@Model.Category</li>
                <li class="list-group-item"><span class="font-weight-bold">Pages - </span>@Model.Pages</li>
                <li class="list-group-item"><span class="font-weight-bold">Lanuage - </span>@Model.Language</li>
            </ul>

        </div>


    </div>

    <div class="p-5 mt-2 bg-light">
        
        <vc:top-books></vc:top-books>
    </div>


</div>


